$mainFont: rgb(31, 31, 31);
$greyTrasparent: #f0f0f0;
$greySecondary: rgb(165, 165, 165);
$greyDark: rgb(60, 60, 60);
$mainDarkGrey: #333333;
$mainBlack: rgb(28, 28, 28);
$whiteTransparentFont: rgb(255, 255, 255);
$white01: rgb(246, 246, 246);
